# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
.vs/

# Visual Studio / Rider
*.csproj
*.sln
*.suo
*.user
*.userprefs
.idea/
*.tmp
*.pidb

# System
.DS_Store
Thumbs.db
